@font-face {
font-family: 'OldSansBlack';
font-style: normal;
font-weight: normal;
src: local('OldSansBlack'), url('OldSansBlack.woff') format('woff');
}


@font-face {
font-family: 'OldSansBlackUnderline';
font-style: normal;
font-weight: normal;
src: local('OldSansBlackUnderline'), url('OldSansBlackUnderline.woff') format('woff');
}

html {
  position: relative;
  min-height: 100%;
}



.nav-pills > li > a.active, .nav-pills > a.active {
    background-color: #c80150!important;
}

.nav > li > a:hover, .nav > a:hover{
    background-color:#c80150;
    color: white;
}

.nav > li > a, .nav > a {
	background-color:#7f7f7f;
	color: white;
}

.nav-item{
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 10px;
}

.navbar-custom{
	border-top: 10px solid #c80150;
}

.logo{
	height: 100px;
	width: auto;
}

.nav-link{
	font-family: OldSansBlack;
	color: white;
}

#title{
	font-family: OldSansBlack;
	color: white;
	font-size: 40px;
}

footer {
	background-color:#c80150;
	position:absolute;
	width:100%;
	bottom:0px;
	height:15px;
}


#tabcontent{
	padding:1.5rem;
	border: 0.2rem;
	border-width: 0.2rem;
	border-color: #999999;
}

.tabrow {
    min-height:500px;
}

#v-pills-tab,
#introduction-tab,
#history-tab,
#photo-tab {
	text-align: center;
}

#v-pills-tab > a,
#introduction-tab > a,
#history-tab > a,
#photo-tab > a{
	
	height: 70px;
	margin-top: .5rem;
	margin-bottom: .5rem;

	display: flex;
	align-items: center;
	justify-content: center;
	
}

.container {
	margin-top: .5rem;
	margin-bottom: .5rem;
}

.subbar {
	width: 100%;
	height: 80px;
	background-color: #343a40;
	border-top: .5rem solid #c80150;
	border-bottom: .5rem solid #c80150;
	color: white; 
	display: flex;
	align-items: center;
}

#content {
	margin-top:10px;
	border-bottom: 30px;
	padding-bottom: 30px;
	background-color: #343a40;
	color: white;
}

#confname{
	font-size: 25px;
}

#content-title{
	font-size: 30px;
	
}

#content-subtitle{
	font-size : 20px;
	margin-left: 15px;
}

#content-info-head{
	text-align: center;
}

#content-head-description{
}

#content-manager{
	margin-top: 30px;
}

#ppt{
	width:100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

#content-img {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;

}

img {
	padding: 0px;
	max-width: 100%;
	height: auto;
}
